# Build
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# Rider
.idea/

# Logs
*.log

# Publish
publish/

# NuGet
packages/
*.nupkg

# Node.js
node_modules/
